# Django
*.pyc
__pycache__/
/media
/staticfiles
*.log
*.pot
*.py[cod]
*.egg-info/
.eggs/
local_settings.py
.env
*.env
venv/ 

# Frontend
node_modules/
build/
dist/
*.log
*.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS files
Thumbs.db
.DS_Store
.sqlite3