body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #b7b7b7; /* Цвет фона шапки */
}

.header__logo img {
  height: 150px; /* Размер логотипа */
  width: 535px;
}

.header__buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #fff8b4; /* Цвет кнопки */
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header__buttons button:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #c3a72d; /* Цвет кнопки при наведении */
  
}
/* HEADER*/
/* FOOTER*/
.footer {
  padding: 5px;
  text-align: center;
  background-color: #b7b7b7; /* Цвет фона подвала */
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}

.flight-schedule-management__table-row--cancelled {
  background-color: rgba(255, 0, 0, 0.6);
}
/* FOOTER*/
/* LOGIN */
.login {
  background-color: #fff8b5; /* Светло-желтый фон */
  padding: 20px;
  width: 400px;
  margin: 100px auto;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
}

.login__title {
  font-size: 24px;
  background-color: #fff8b5;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.login__input-group {
  margin-bottom: 20px;
}

.login__label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.login__input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.login__button {
  width: 100px;
  padding: 10px;
  background-color: #4CAF50; /* Зеленая кнопка для логина */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login__button:hover {
  background-color: #45a049;
}

.login__error {
  color: red;
  margin-top: 10px;
}

.login__button-exit {
  width: 100px;
  padding: 10px;
  background-color: #f44336; /* Красная кнопка для выхода */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.login__button-exit:hover {
  background-color: #d32f2f;
}

.login__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* USERPANEL*/
.user-panel {
  max-height: 90vh; 
  overflow-y: auto;
  background-color: #fff8b5;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.user-panel__title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  background-color: #fff8b5;
}

.user-panel__session-time,
.user-panel__total-time {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  background-color: #fff8b5;
}

.user-panel__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 110px;
}

.user-panel__header {
  background-color: #b7b7b7;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

.user-panel__cell {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

.error-row {
  background-color: #f28b82;
}

.user-panel__row {
  background-color: #fff8b5;
}

.user-panel__row:nth-child(even) {
  background-color: #ffffe0;
}
.user-panel__button_exit{
  padding: 10px 20px;
  margin-right: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.user-panel__button_exit:hover {
  background-color: rgb(207, 6, 6);
}
.user-panel__buttons {
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  background-color: #fff8b5; 
  padding: 10px;
  border-top: 1px solid #ddd;
}

.user-panel__button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgb(57, 57, 0);
  color: white;
  border: none;
  cursor: pointer;
}

.user-panel__button:hover {
  background-color: rgb(36, 36, 0);
}

.user-panel__total-crashes {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
/* USERPANEL*/
/* ADMINPANEL */
.admin-panel {
  background-color: #fff8b5; /* Светло-желтый фон */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.admin-panel__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.admin-panel__label {
  font-size: 18px;
}

.admin-panel__select {
  padding: 5px;
  margin-right: 20px;
}

.admin-panel__button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.admin-panel__button_error{
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgb(57, 57, 0);
  color: white;
  border: none;
  cursor: pointer;
}
.admin-panel__button_error:hover {
  background-color: rgb(37, 37, 0);
}
.admin-panel__button_exit {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.admin-panel__button_exit:hover {
  background-color: rgb(196, 16, 16);
}
.admin-panel__button:hover {
  background-color: #45a049;
}

.admin-panel__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-panel__table-header {
  background-color: #b7b7b7;
  font-weight: bold;
}

.admin-panel__table-cell {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

.admin-panel__edit-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-panel__edit-button:hover {
  background-color: #45a049;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-panel__modal {
  background-color: #fff8b5; 
  padding: 20px;
  border-radius: 10px;
  width: 500px; 
  max-height: 80vh; 
  overflow-y: auto; 
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  z-index: 1001;
  border: 2px solid black; 
}
.admin-panel__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.admin-panel__modal-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background-color: #fff8b5;
}


.admin-panel__form-label {
  display: block;
  margin-bottom: 10px;
}

.admin-panel__form-input,
.admin-panel__form-select {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.admin-panel__form-submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.admin-panel__form-close-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-panel__form-close-button:hover {
  background-color: #d32f2f;
}
/* ADMINPANEL */
/* FlightScheduleManager */
.flight-schedule-management {
  background-color: #fff8b5; /* Светло-желтый фон */
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-bottom: 100px; /* Отступ снизу для футера */
  position: relative;
}

.flight-schedule-management__filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.flight-schedule-management__input,
.flight-schedule-management__select {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.flight-schedule-management__button--edit {
  background-color: #4CAF50;
  color: white;
}
.flight-schedule-management__button--edit:hover {
  background-color: #45a049;
}
.flight-schedule-management__button--cancel {
  background-color: #f44336; /* Красный цвет */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.flight-schedule-management__button--cancel:disabled {
  background-color: grey; /* Цвет для неактивной кнопки */
  cursor: not-allowed; /* Запрещающий курсор */
}
.flight-schedule-management__button--cancel:hover:enabled {
  background-color: #d32f2f; /* Темнее при наведении */
}
.flight-schedule-management__button--cancel:hover {
  background-color: #d32f2f;
}
.flight-schedule-management__button--reactivate {
  background-color: #FFA500;
  color: white;
}
.flight-schedule-management__button--reactivate:hover {
  background-color: #FF8C00;
}
.flight-schedule-management__button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.flight-schedule-management__button:hover {
  background-color: #45a049;
}

.flight-schedule-management__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.flight-schedule-management__table-header {
  background-color: #b7b7b7;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.flight-schedule-management__table-row {
  background-color: #fff8b5;
  border-bottom: 1px solid black;
}

.flight-schedule-management__table-row--cancelled {
  background-color: #f28b82; /* Красный фон для отмененных рейсов */
}

.flight-schedule-management__table td,
.flight-schedule-management__table th {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.flight-schedule-management__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.flight-schedule-management__modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.flight-schedule-management__modal-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.flight-schedule-management__modal-button:hover {
  background-color: #45a049;
}
/* FlightScheduleManager */
/* FlightSearch */
/* Основные стили для формы поиска рейсов */
.flight-search {
  max-width: 900px; /* Увеличиваем максимальную ширину формы */
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffcc; /* Светло-желтый фон */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-search__heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.flight-search__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.flight-search__form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.flight-search__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.flight-search__input,
.flight-search__select {
  padding: 12px;
  border: 1px solid #000;
  background-color: #ffffe0;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.flight-search__checkbox {
  margin-right: 10px;
}

/* Стили кнопки поиска */
.flight-search__button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.flight-search__button:hover {
  background-color: #45a049;
}

.flight-search__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Таблицы для вывода рейсов */
.flight-search__table {
  width: 100%;
  border-collapse: collapse;
}

.report__table-row--header {
  background-color: #b7b7b7;
  color: black;
}

.report__table-header {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.report__table-cell {
  padding: 10px;
  border: 1px solid black;
  background-color: #ffffe0;
}

.report__list {
  list-style-type: none;
  padding: 0;
}

.report__list-item {
  font-size: 16px;
  background-color: #ffffe0;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.report__footer {
  text-align: center;
  margin-top: 20px;
}

.flight-search__table-cell {
  border: 1px solid #000;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.report__button:hover {
  background-color: #45a049;
}

/* FlightReport */
/* FUllFlightReport */
.full-report {
  max-width: 1200px;
  margin: 40px auto;
  background-color: #fff8b5; /* Светло-желтый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-report__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.full-report__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffe0; /* Цвет таблицы */
}

.full-report__header-row {
  background-color: #b7b7b7;
}

.full-report__header-cell {
  padding: 10px;
  font-weight: bold;
  border: 1px solid black;
}

.full-report__row {
  background-color: #fff8b5;
}

.full-report__cell {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.full-report__cell:nth-child(even) {
  background-color: #ffffe0;
}

.full-report__row:hover {
  background-color: #f2f2f2;
}

.full-report__footer {
  padding-top: 20px;
  text-align: center;
}

/* Кнопки выбора рейсов */
.flight-search__button-choose {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.flight-search__button-choose:hover {
  background-color: #45a049;
}

/* Кнопка "Выбран" меняет цвет на желтый */
.flight-search__button-choose.selected {
  background-color: #FFD700; /* Желтый цвет */
  color: black;
}

.flight-search__button-choose.selected:hover {
  background-color: #FFC700;
}

/* Добавляем стили для формы пассажиров */
.flight-search__passenger-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.flight-search__passenger-block {
  grid-column: 1 / -1; /* Пассажир занимает всю строку */
  margin-bottom: 20px;
}

.flight-search__passenger-block h3 {
  grid-column: 1 / -1;
  text-align: center;
}

.flight-search__input,
.flight-search__select {
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffffe0;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.flight-search__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.flight-search__button-add-passenger,
.flight-search__button-remove-passenger,
.flight-search__button-close,
.flight-search__button-confirm-booking {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.flight-search__button-remove-passenger {
  background-color: #f44336;
}

.flight-search__button-close {
  background-color: #f44336;
}

.flight-search__button-add-passenger:hover,
.flight-search__button-remove-passenger:hover,
.flight-search__button-close:hover,
.flight-search__button-confirm-booking:hover {
  background-color: #45a049;
}

.flight-search__button-remove-passenger:hover {
  background-color: #d32f2f;
}

.flight-search__button-close:hover {
  background-color: #d32f2f;
}

/* Выравнивание кнопок внизу */
.flight-search__buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* FlightSearch */
/* FlightReport */
.report {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff8b5; /* Светло-желтый фон */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report__header {
  text-align: center;
  margin-bottom: 20px;
}

.report__title {
  font-size: 32px;
  color: #333;
}

.report__subtitle {
  font-size: 24px;
  color: #555;
}

.report__section {
  margin-bottom: 20px;
}

.report__section-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.report__table {
  width: 100%;
  border-collapse: collapse;
}

.report__table-row--header {
  background-color: #b7b7b7;
  color: black;
}

.report__table-header {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.report__table-cell {
  padding: 10px;
  border: 1px solid black;
  background-color: #ffffe0;
}

.report__list {
  list-style-type: none;
  padding: 0;
}

.report__list-item {
  font-size: 16px;
  background-color: #ffffe0;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.report__footer {
  text-align: center;
  margin-top: 20px;
}

.report__button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.report__button:hover {
  background-color: #45a049;
}

/* FlightReport */
/* FUllFlightReport */
.full-report {
  max-width: 1200px;
  margin: 40px auto;
  background-color: #fff8b5; /* Светло-желтый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-report__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.full-report__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffe0; /* Цвет таблицы */
}

.full-report__header-row {
  background-color: #b7b7b7;
}

.full-report__header-cell {
  padding: 10px;
  font-weight: bold;
  border: 1px solid black;
}

.full-report__row {
  background-color: #fff8b5;
}

.full-report__cell {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.full-report__cell:nth-child(even) {
  background-color: #ffffe0;
}

.full-report__row:hover {
  background-color: #f2f2f2;
}

.full-report__footer {
  padding-top: 20px;
  text-align: center;
}

/* FUllFlightReport */